# Environment & Secrets
.env
*.env

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Databases
*.db
*.sqlite
*.sqlite3

# Streamlit logs & cache
.streamlit/
!/.streamlit/config.toml

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
